@use ".data" as d;
@use "../../utils/mixins" as mn;

/* ========== min-width ========== */

$abb: min-width;
$att: min-width;

@include mn.GetClassNames($abb, $att, d.$obj);

// Массив доп. значений
$ar: [];
@if ($ar != []) {
  @include mn.GetClassNames($abb, $att, $ar)
}