@use ".data" as d;
@use "../../utils/mixins" as mn;

/* ========== min-width ========== */

$abb: min-width;
$att: min-width;

@include mn.GetClassNames($abb, $att, d.$obj);

$ar: [];
@if (d.$ar != []) {
  @include mn.GetClassNames($abb, $att, d.$ar)
}