@use "../../utils/mixins" as mn;

/* ========== object-fit ========== */

$abb: object-fit;
$att: object-fit;
$obj: (
        cover: cover,
        contain: contain,
);

@include mn.GetClassNames($abb, $att, $obj);