$obj: (
        system-serif: var(--wp--preset--font-family--system-serif),
        system-sans-serif: var(--wp--preset--font-family--system-sans-serif),
        open-sans: var(--wp--preset--font-family--open-sans),
        cera-round-pro: var(--wp--preset--font-family--cera-round-pro),
);