$obj: (
        xxl: "screen and (max-width: 1440px)",
        xl: "screen and (max-width: 1280px)",
        l: "screen and (max-width: 992px)",
        m: "screen and (max-width: 768px)",
        s: "screen and (max-width: 576px)",
        xs: "screen and (max-width: 320px)",
);