$obj: (
        center: center,
        inherit: inherit,
        end: flex-end,
        start: flex-start,
        around: space-around,
        evenly: space-evenly,
        between: space-between,
);