$obj: (
        0: 0,
        50: 50%,
        full: 100%,
        inherit: inherit,
        fit: fit-content,
        min: min-content,
        max: max-content,
);

// Массив доп. значений
$ar: [23, 200, 400, 500];