@use "../../utils/mixins" as mn;

/* ========== line-height ========== */

$abb: line-height;
$att: line-height;

$step: 2;
$from: 0;
$through: 100;
@include mn.GetClassNamesByStep($abb, $att, $step, $from, $through);

// Массив доп. значений, не вписывающихся в шаг
$ar: [100%, 45, 21];
@if ($ar != []) {
  @include mn.GetClassNames($abb, $att, $ar)
}