@use ".data" as d;
@use "../../utils/mixins" as mn;

/* ========== padding-right ========== */

$abb: padding-right;
$att: padding-right;

@include mn.GetClassNamesByStep($abb, $att, d.$step, d.$from, d.$through);

// Массив доп. значений, не вписывающихся в шаг
$ar: [];
@if ($ar != []) {
  @include mn.GetClassNames($abb, $att, $ar)
}