@use "../../utils/mixins" as mn;

/* ========== border-radius ========== */

$abb: border-radius;
$att: border-radius;
$obj: [2, 5, 10, 20];

@include mn.GetClassNames($abb, $att, $obj);

$obj_abb: (
        top: (right: $obj, left: $obj),
        bottom: (right: $obj, left: $obj),
);
@each $ok, $ov in $obj_abb {
  @each $ck, $cv in $ov {
    $abb: border-#{ $ok }-#{ $ck }-radius;
    $att: border-#{ $ok }-#{ $ck }-radius;
    @include mn.GetClassNames($abb, $att, $obj);
  }
}